.btn {
    cursor: pointer;
}

.action-primary {
    color: #000;
}

.bg-action-primary {
    background-color: rgb(69, 128, 238);
}

.b--action-primary {
    border-color: rgb(47, 47, 243);
}

.action-secondary {
    color: #000;
}

.bg-action-secondary {
    background-color: rgb(1, 221, 173);
}

.b--action-secondary {
    border-color: rgb(65, 109, 99);
}

.action-dark {
    color: #000;
}

.bg-action-dark {
    background-color: rgb(34, 32, 32);
}

.b--action-dark {
    border-color: #000;
}

.size-action-big {
    width: 200px;
    height: 60px;
    font-size: 1.4rem;
}

.size-action-medium {
    width: 150px;
    height: 45px;
    font-size: 1.2rem;
}

.size-action-small {
    width: 100px;
    height: 30px;
    font-size: 1rem;
}